*{
    margin: 0;
}
/* configuração de cores para toda padina (body) */
body{
    background-color: lightblue;
    opacity: 0.8;
    background-image: url("../images/paper.gif");
    margin: 10% 5%;
    
    
    /* background-repeat: no-repeat; 
    background-position: right top;
    background-attachment: scroll;
    margin: 5% 10%; */
} 
nav{
    background-color: rgb(105, 58, 58);
    text-align: center;
    padding: 10px;
}
div{
    background-color: rgb(205, 206, 166);
    text-align: center;
    
    
}
div>p{
    margin: 10px;
}
div>h1{
    font-size: 25px;
    padding: 10px;
}